# 1 Create a list f 10 numbers and print them.

In [2]:
num=[1,2,3,4,5,6,7,8,9,10]
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# 2 find the Sum of all elements in a list

In [3]:
print(sum(num))

55

#  3 and 4 largest and smallest number of list

In [6]:
print("largest number of list is :  ",max(num))
print("Smalest Number of list is :  ",min(num))

largest number of list is :   10
Smalest Number of list is :   1

# 5 Reverse list

In [7]:
print("Reverse list : ",num[::-1])

Reverse list :  [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# 6 Sorting in Accending order

In [35]:
random_num=[3,4,2,6,9,8,3,2,24,6,12,1,5,5,7,6,2,1,]
print("Sorting in Accending order : ",sorted(random_num))

Sorting in Accending order :  [1, 1, 2, 2, 2, 3, 3, 4, 5, 5, 6, 6, 6, 7, 8, 9, 12, 24]

# 7 Sorting in Decending order

In [46]:
print("sorting in descending order : ",sorted(random_num ,reverse=True))

sorting in descending order :  [24, 12, 9, 8, 7, 6, 6, 6, 5, 5, 4, 3, 3, 2, 2, 2, 1, 1]

# 8 count how many times a number appears in a list

In [52]:
print(random_num.count(2))
print(random_num.count(5))

3
2

# 9 Remove duplicates

In [58]:
new=set(random_num)
print("After removing duplicates : ",new)

After removing duplicates :  {1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 24}

# 10 find the average of numbers in a list

In [62]:
print(sum(new)/len(new))

7.363636363636363

# 11 take 5 number from user and store them in list

In [78]:
mylist=[]
print(mylist.append(int(input("enter any number please:"))))
print(mylist.append(int(input("enter any number again  please:"))))
print(mylist.append(int(input("enter any number again please:"))))
print(mylist.append(int(input("enter any number again please:"))))
print(mylist.append(int(input("enter any number again please:"))))
print("Your list is : ",mylist)

None
None
None
None
None
Your list is :  [20, 30, 40, 50, 60]

# 12 Check if a given Element exists in a list

In [97]:
print(num)
print(40 in num)

[30, 40, 50, 60, 70, [...], [...], [...]]
True

# 13 Concatenate two lists into one

In [98]:
print("First list is : ",num)
print("Second list is : ",mylist)
print('----------------NOW -----CONCATENATION -----IS -----WORKING-------------------')
num.append(mylist)
print("After concatenation : ",num)

First list is :  [30, 40, 50, 60, 70, [...], [...], [...]]
Second list is :  [20, 30, 40, 50, 60]
----------------NOW -----CONCATENATION -----IS -----WORKING-------------------
After concatenation :  [30, 40, 50, 60, 70, [...], [...], [...], [20, 30, 40, 50, 60]]

# 14 and 15 slice a list to get the first 3 elements.

In [108]:
vegetable=['carrot','potato','onion','cabbage','broccoli','spinach']
print(vegetable[:3])
print(vegetable[:-4:-1])

['carrot', 'potato', 'onion']
['spinach', 'broccoli', 'cabbage']

#   16 replace the second element of a list with a new value

In [109]:
vegetable[1]="banana"

In [110]:
print(vegetable)

['carrot', 'banana', 'onion', 'cabbage', 'broccoli', 'spinach']

# 17 Insert a number at the 3rd positionn in a list

AttributeError: 'tuple' object has no attribute 'append'

In [122]:
print(vegetable)

([2], [23])